__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.db
*.log
.DS_Store
Thumbs.db

# CDK
lambda_layer/
cdk.out/
cdk.context.json

# AWS credentials
github-*.json

# Lambda build artifacts
ingest/shared/
query/shared/
